@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Myriad Pro';
    src: url('../font/myriad/MYRIADPRO-REGULAR.woff');
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../font/avenir/AvenirNextRoundedStd-Reg.woff');
}


